@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'sansation-light';
    src: url('./Sansation/Sansation-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'sansation-regular';
    src: url('./Sansation/Sansation-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }