.skillsSection {
    position: relative;
}

.title {
    font-family: 'inter';
    font-weight: 400;
    font-size: var(--section-title-size);
    letter-spacing: 0.4rem;
}

.svgSkills {
    z-index: 0;
    display: block;
    width: 100%;
    max-height: 40vh;
}

.content {
    position: relative;
    min-height: 10vh;
}

.iconWrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.iconImg {
    width: clamp(30px, 10vw, 120px);
    height: auto;
    margin: 0 2rem;
}

.svgThree {
    position: absolute;
    /* top: 30vh; */
    bottom: 30vh;
    left: 0;
    width: 120%;
    z-index: -1;
}

.svgFour {
    position: absolute;
    /* top: -20vh; */
    /* top: -10rem; */
    /* top: 0; */
    bottom: 0;
    left: 0;
    width: 100%;
    /* z-index: -1; */
}