.footer {
    position: relative;
    margin-top: 15rem;
}

.footerSvgMain {
    /* transform: translateY(5vw); */
    width: 100%;;
    max-height: min(40vw, 50vh);
}

.footerSvgLeftOne {
    position: absolute;
    left: 0;
    width: 20%;
    top: 15%;
}

.footerSvgLeftTwo {
    position: absolute;
    left: 0;
    transform: translate(150%, 150%);
    max-height: 5vw;
}

.footerSvgLeftThree {
    position: absolute;
    left: 0;
    transform: translate(250%, -4vw);
    max-height: 15vw;
}

.footerSvgLeftFour {
    position: absolute;
    right: 0;
    transform: translate(-120%, -60%);
    max-height: 20vw;
}