:root {
  --to-be-continued: clamp(0.5rem, 1vw + 1rem, 1.25rem);
  --tasks-size: clamp(0.5rem, 0.5vw + 0.5rem, 1rem);

  --position-size: clamp(1rem, 1vw + 1rem, 2rem);

  --company-size: clamp(0.5rem, 0.75vw + 0.6rem, 1.2rem);

  --fs-1: clamp(0.5rem, 1vw + 1rem, 10.5rem);
  --fs-2: clamp(1rem, 3vw + 1rem, 2rem);
  --fs-3: clamp(1.5rem, 4vw + 0.5rem, 2.5rem);
  --section-title-size: clamp(2rem, 4vw + 1rem, 3rem);
  --fs-5: clamp(2.5rem, 10vw + 1rem, 6rem);

  --experience-gap: min(2rem, 4vw);
}

.app {
  background-color: #08090E;
  color: white;
  font-family: 'inter-variable', sans-serif;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}